body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }

  .container {
    text-align: center;
  }

  #input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .container button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .container button:hover {
    background-color: #0056b3;
  }
  .container h2{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }